* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100%;
  min-height: 100vh;
}

input {
  padding: 8px;
  border: 1px solid #e5e5e5;
  outline: none;
}

input:focus {
  border-color: #72bf44;
}

button {
  background-color: #72bf44;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.disclaimer {
  width: 100%;
  position: fixed;
  margin: 0 auto;
  background-color: #72bf44;
  color: white;
  text-align: center;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding-top: 40px;
  outline: 2px solid MediumBlue;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content header {
  background-color: #e5e5e5;
  padding: 20px;
}

.content main {
  padding: 20px;
  flex-grow: 1;
}

.content footer {
  background-color: #e5e5e5;
  padding: 20px;
}

.property-card {
  display: flex;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

.property-card img {
  width: 100px;
  height: 100px;
  min-width: 100px;
  object-fit: cover;
}

.property-card div {
  padding: 8px;
}

.property-card p {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.search-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  gap: 8px;
}

.search-form input {
  flex-grow: 1;
}
