* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100%;
  min-height: 100vh;
}

.disclaimer {
  width: 100%;
  position: sticky;
  top: 0;
  margin: 0 auto;
  background-color: rgb(205, 255, 194);
  text-transform: uppercase;
  text-align: center;
  height: 40px;
  display: flex;
  font-family: Jost;
  color: rgb(0, 122, 22);
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.app-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px);
}
